{% extends 'base.html' %}

<!-- Title of the app -->
{% block title %}

  {{ super() }} | List

{% endblock %}

<!-- Body of the app -->
{% block content %}
    <header class="header">
      <div class="header_img">
        <figure>
          <img src="{{ url_for( 'static', filename='images/undraw_collecting_fjjl.svg' ) }}" alt="" />
        </figure>
      </div>
      <div class="header_input">
        <input type="text" placeholder="Search a book" />
        <button><a href="#">Search</a></button>
      </div>
      <div class="header_menu">
        <div class="header_menu--links">
          <a href="{{ url_for('index') }}">Start</a>
          <a href="{{ url_for('books_list') }}">Books saved</a>
        </div>
      </div>
    </header>
    <!-- Formulario para agregar libros -->
    <section>
      <div class="container">
        <div class="container_search">
          <input type="text" placeholder="Search a book" />
          <button><a href="#">Search</a></button>
        </div>
        <div class="container_form">
          <h1>Add books to list</h1>
          <form method="POST" action="url_for('http://127.0.0.1:8080/api/books')">
            <input type="text" placeholder="Name of book" />
            <input type="textarea" placeholder="Desciption of book" />
            <input type="text" placeholder="Author of book" />
            <input type="text" placeholder="Launching of book" />
            <input type="submit" name="Save" class="save">
          </form>
        </div>
      </div>
    </section>
    <footer>
      <h2>Development by <a href="https://github.com/joselpadronc/">@joselpadronc</a></h2>
    </footer>
{% endblock %}
