<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>List of books</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/list.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header_img">
        <figure>
          <img src="images/undraw_collecting_fjjl.svg" alt="" />
        </figure>
      </div>
      <div class="header_input">
        <input type="text" placeholder="Search a book" />
        <button><a href="#">Search</a></button>
      </div>
      <div class="header_menu">
        <div class="header_menu--links">
          <a href="index.html">Start</a>
          <a href="list.html">Books saved</a>
        </div>
      </div>
    </header>
    <!-- Lista de libros -->
    <section>
      <div class="container">
        <div class="container_search">
          <input type="text" placeholder="Search a book" />
          <button><a href="#">Search</a></button>
        </div>
        <div class="container_book">
          <h4>title</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, sed laborum? Sed veniam debitis tenetur consequatur quo rem ea laborum.</p>
          <p>Author</p>
          <p>Launching</p>
          <div class="book_options">
            <button><a href="#">Delete</a></button>
            <button><a href="#">Edite</a></button>
          </div>
        </div>
        <div class="container_book">
          <h4>title</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, sed laborum? Sed veniam debitis tenetur consequatur quo rem ea laborum.</p>
          <p>Author</p>
          <p>Launching</p>
          <div class="book_options">
            <button><a href="#">Delete</a></button>
            <button><a href="#">Edite</a></button>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <h2>Development by <a href="https://github.com/joselpadronc/">@joselpadronc</a></h2>
    </footer>
  </body>
</html>
